Pms.Data.Integration/Service References/CommonManagementService/CommonManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.model.common.app.pms.logica.com/" name="CommonManagementService" targetNamespace="http://ws.model.common.app.pms.logica.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://ws.model.common.app.pms.logica.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deleteDepartment" type="tns:deleteDepartment" />
      <xs:element name="deleteDepartmentResponse" type="tns:deleteDepartmentResponse" />
      <xs:element name="deleteJob" type="tns:deleteJob" />
      <xs:element name="deleteJobResponse" type="tns:deleteJobResponse" />
      <xs:element name="getAllCountries" type="tns:getAllCountries" />
      <xs:element name="getAllCountriesResponse" type="tns:getAllCountriesResponse" />
      <xs:element name="getAllDepartments" type="tns:getAllDepartments" />
      <xs:element name="getAllDepartmentsResponse" type="tns:getAllDepartmentsResponse" />
      <xs:element name="getAllJobs" type="tns:getAllJobs" />
      <xs:element name="getAllJobsResponse" type="tns:getAllJobsResponse" />
      <xs:element name="getAllOfficeLocations" type="tns:getAllOfficeLocations" />
      <xs:element name="getAllOfficeLocationsResponse" type="tns:getAllOfficeLocationsResponse" />
      <xs:element name="getDepartment" type="tns:getDepartment" />
      <xs:element name="getDepartmentResponse" type="tns:getDepartmentResponse" />
      <xs:element name="getJob" type="tns:getJob" />
      <xs:element name="getJobResponse" type="tns:getJobResponse" />
      <xs:element name="saveDepartment" type="tns:saveDepartment" />
      <xs:element name="saveDepartmentResponse" type="tns:saveDepartmentResponse" />
      <xs:element name="saveJob" type="tns:saveJob" />
      <xs:element name="saveJobResponse" type="tns:saveJobResponse" />
      <xs:element name="searchDepartment" type="tns:searchDepartment" />
      <xs:element name="searchDepartmentResponse" type="tns:searchDepartmentResponse" />
      <xs:element name="searchJob" type="tns:searchJob" />
      <xs:element name="searchJobResponse" type="tns:searchJobResponse" />
      <xs:element name="updateDeparment" type="tns:updateDeparment" />
      <xs:element name="updateDeparmentResponse" type="tns:updateDeparmentResponse" />
      <xs:element name="updateJob" type="tns:updateJob" />
      <xs:element name="updateJobResponse" type="tns:updateJobResponse" />
      <xs:complexType name="deleteJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:deleteJobRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteJobRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="reason" type="xs:string" />
              <xs:element name="jobId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="genericRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:request">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="request">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="deleteJobResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DeleteJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="genericResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:response">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="codeMessages" type="tns:codeMessage" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="response">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="codeMessage">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getJobRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJobRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="jobId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getJobResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element name="jobId" type="xs:long" />
              <xs:element name="jobTitle" type="xs:string" />
              <xs:element name="code" type="xs:string" />
              <xs:element name="minSalary" type="xs:long" />
              <xs:element name="maxSalary" type="xs:long" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="recordStatusId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllJobs">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getAllJobsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllJobsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllJobsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:RetrieveAllJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetrieveAllJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="jobList" type="tns:jobInfoDTO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="jobInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="createBy" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="maxSalary" type="xs:long" />
          <xs:element minOccurs="0" name="minSalary" type="xs:long" />
          <xs:element minOccurs="0" name="recordStausId" type="xs:long" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="updateBy" type="xs:string" />
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="updateReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDepartment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getDepartmentRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDepartmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="deptId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getDepartmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element name="deptId" type="xs:long" />
              <xs:element name="deptName" type="xs:string" />
              <xs:element name="deptDesc" type="xs:string" />
              <xs:element name="managerId" type="xs:string" />
              <xs:element name="locationId" type="xs:string" />
              <xs:element name="createDate" type="xs:string" />
              <xs:element name="createBy" type="xs:string" />
              <xs:element name="status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="saveDepartment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:saveDepartmentRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveDepartmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="deptName" type="xs:string" />
              <xs:element minOccurs="0" name="deptDescription" type="xs:string" />
              <xs:element minOccurs="0" name="locationId" type="xs:string" />
              <xs:element name="managerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="saveDepartmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:SaveDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="deleteDepartment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:deleteDepartmentRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteDepartmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="deptId" type="xs:long" />
              <xs:element minOccurs="0" name="reason" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="deleteDepartmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DeleteDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="searchDepartment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:searchDepartmentRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchDepartmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="deptId" type="xs:string" />
              <xs:element minOccurs="0" name="deptName" type="xs:string" />
              <xs:element minOccurs="0" name="managerId" type="xs:string" />
              <xs:element minOccurs="0" name="locationId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="searchDepartmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:SearchDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SearchDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="departments" type="tns:departmentInfoDTO" />
              <xs:element name="noOfTotalHits" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="departmentInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createBy" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="deptDescription" type="xs:string" />
          <xs:element minOccurs="0" name="deptId" type="xs:long" />
          <xs:element minOccurs="0" name="deptName" type="xs:string" />
          <xs:element minOccurs="0" name="locationId" type="xs:string" />
          <xs:element minOccurs="0" name="managerId" type="xs:string" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="updateBy" type="xs:string" />
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="updateReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:saveJobRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveJobRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="jobCode" type="xs:string" />
              <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
              <xs:element minOccurs="0" name="maxSalary" type="xs:long" />
              <xs:element minOccurs="0" name="minSalary" type="xs:long" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="recordStatusId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="saveJobResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:SaveJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="jobId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="searchJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:searchJobRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchJobRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="jobId" type="xs:long" />
              <xs:element minOccurs="0" name="jobCode" type="xs:string" />
              <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
              <xs:element minOccurs="0" name="jobStatus" type="xs:string" />
              <xs:element minOccurs="0" name="startIndex" type="xs:int" />
              <xs:element minOccurs="0" name="endIndex" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="searchJobResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:SearchJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SearchJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element name="endIndex" type="xs:int" />
              <xs:element name="noOfTotalHits" type="xs:int" />
              <xs:element name="startIndex" type="xs:int" />
              <xs:element maxOccurs="unbounded" name="jobList" type="tns:jobInfoDTO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updateJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:updateJobRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateJobRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="jobId" type="xs:long" />
              <xs:element name="jobCode" type="xs:string" />
              <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element minOccurs="0" name="maxSalary" type="xs:long" />
              <xs:element minOccurs="0" name="minSalary" type="xs:long" />
              <xs:element minOccurs="0" name="updateReason" type="xs:string" />
              <xs:element name="recordStatusId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updateJobResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:UpdateJobResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateJobResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllCountries">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getAllCountriesRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllCountriesRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllCountriesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetAllCountriesResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllCountriesResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="countries" type="tns:countryDTO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="countryDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createBy" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="regionId" type="xs:long" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="updateBy" type="xs:string" />
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="updateReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllDepartments">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getAllDepartmentsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllDepartmentsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllDepartmentsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:RetrieveAllDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetrieveAllDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="departmentList" type="tns:departmentInfoDTO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllOfficeLocations">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:getAllOfficeLocationsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllOfficeLocationsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllOfficeLocationsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetAllOfficeLocationsResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllOfficeLocationsResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="officeLocations" type="tns:officeLocationDTO" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="officeLocationDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createBy" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="updateBy" type="xs:string" />
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="updateReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateDeparment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:updateDepartmentRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateDepartmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericRequest">
            <xs:sequence>
              <xs:element name="deptId" type="xs:long" />
              <xs:element minOccurs="0" name="deptName" type="xs:string" />
              <xs:element minOccurs="0" name="deptDesc" type="xs:string" />
              <xs:element minOccurs="0" name="locationId" type="xs:string" />
              <xs:element minOccurs="0" name="managerId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updateDeparmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:UpdateDepartmentResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateDepartmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:genericResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CommonManagementServiceEndpoint_getDepartment">
    <part name="parameters" element="tns:getDepartment" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllJobs">
    <part name="parameters" element="tns:getAllJobs" />
  </message>
  <message name="CommonManagementServiceEndpoint_saveDepartment">
    <part name="parameters" element="tns:saveDepartment" />
  </message>
  <message name="CommonManagementServiceEndpoint_updateJobResponse">
    <part name="parameters" element="tns:updateJobResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_updateDeparmentResponse">
    <part name="parameters" element="tns:updateDeparmentResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllOfficeLocations">
    <part name="parameters" element="tns:getAllOfficeLocations" />
  </message>
  <message name="CommonManagementServiceEndpoint_searchDepartmentResponse">
    <part name="parameters" element="tns:searchDepartmentResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_deleteDepartmentResponse">
    <part name="parameters" element="tns:deleteDepartmentResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllCountries">
    <part name="parameters" element="tns:getAllCountries" />
  </message>
  <message name="CommonManagementServiceEndpoint_getJobResponse">
    <part name="parameters" element="tns:getJobResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_getJob">
    <part name="parameters" element="tns:getJob" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllDepartmentsResponse">
    <part name="parameters" element="tns:getAllDepartmentsResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllCountriesResponse">
    <part name="parameters" element="tns:getAllCountriesResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_updateDeparment">
    <part name="parameters" element="tns:updateDeparment" />
  </message>
  <message name="CommonManagementServiceEndpoint_saveJob">
    <part name="parameters" element="tns:saveJob" />
  </message>
  <message name="CommonManagementServiceEndpoint_deleteDepartment">
    <part name="parameters" element="tns:deleteDepartment" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllDepartments">
    <part name="parameters" element="tns:getAllDepartments" />
  </message>
  <message name="CommonManagementServiceEndpoint_updateJob">
    <part name="parameters" element="tns:updateJob" />
  </message>
  <message name="CommonManagementServiceEndpoint_searchJobResponse">
    <part name="parameters" element="tns:searchJobResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_deleteJob">
    <part name="parameters" element="tns:deleteJob" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllJobsResponse">
    <part name="parameters" element="tns:getAllJobsResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_getDepartmentResponse">
    <part name="parameters" element="tns:getDepartmentResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_deleteJobResponse">
    <part name="parameters" element="tns:deleteJobResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_searchDepartment">
    <part name="parameters" element="tns:searchDepartment" />
  </message>
  <message name="CommonManagementServiceEndpoint_saveDepartmentResponse">
    <part name="parameters" element="tns:saveDepartmentResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_saveJobResponse">
    <part name="parameters" element="tns:saveJobResponse" />
  </message>
  <message name="CommonManagementServiceEndpoint_searchJob">
    <part name="parameters" element="tns:searchJob" />
  </message>
  <message name="CommonManagementServiceEndpoint_getAllOfficeLocationsResponse">
    <part name="parameters" element="tns:getAllOfficeLocationsResponse" />
  </message>
  <portType name="CommonManagementServiceEndpoint">
    <operation name="deleteDepartment" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_deleteDepartment" />
      <output message="tns:CommonManagementServiceEndpoint_deleteDepartmentResponse" />
    </operation>
    <operation name="deleteJob" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_deleteJob" />
      <output message="tns:CommonManagementServiceEndpoint_deleteJobResponse" />
    </operation>
    <operation name="getAllCountries" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getAllCountries" />
      <output message="tns:CommonManagementServiceEndpoint_getAllCountriesResponse" />
    </operation>
    <operation name="getAllDepartments" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getAllDepartments" />
      <output message="tns:CommonManagementServiceEndpoint_getAllDepartmentsResponse" />
    </operation>
    <operation name="getAllJobs" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getAllJobs" />
      <output message="tns:CommonManagementServiceEndpoint_getAllJobsResponse" />
    </operation>
    <operation name="getAllOfficeLocations" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getAllOfficeLocations" />
      <output message="tns:CommonManagementServiceEndpoint_getAllOfficeLocationsResponse" />
    </operation>
    <operation name="getDepartment" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getDepartment" />
      <output message="tns:CommonManagementServiceEndpoint_getDepartmentResponse" />
    </operation>
    <operation name="getJob" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_getJob" />
      <output message="tns:CommonManagementServiceEndpoint_getJobResponse" />
    </operation>
    <operation name="saveDepartment" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_saveDepartment" />
      <output message="tns:CommonManagementServiceEndpoint_saveDepartmentResponse" />
    </operation>
    <operation name="saveJob" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_saveJob" />
      <output message="tns:CommonManagementServiceEndpoint_saveJobResponse" />
    </operation>
    <operation name="searchDepartment" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_searchDepartment" />
      <output message="tns:CommonManagementServiceEndpoint_searchDepartmentResponse" />
    </operation>
    <operation name="searchJob" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_searchJob" />
      <output message="tns:CommonManagementServiceEndpoint_searchJobResponse" />
    </operation>
    <operation name="updateDeparment" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_updateDeparment" />
      <output message="tns:CommonManagementServiceEndpoint_updateDeparmentResponse" />
    </operation>
    <operation name="updateJob" parameterOrder="parameters">
      <input message="tns:CommonManagementServiceEndpoint_updateJob" />
      <output message="tns:CommonManagementServiceEndpoint_updateJobResponse" />
    </operation>
  </portType>
  <binding name="CommonManagementServiceEndpointBinding" type="tns:CommonManagementServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deleteDepartment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCountries">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllDepartments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllJobs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllOfficeLocations">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDepartment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saveDepartment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saveJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchDepartment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateDeparment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CommonManagementService">
    <port name="CommonManagementServiceEndpointPort" binding="tns:CommonManagementServiceEndpointBinding">
      <soap:address location="http://128.129.248.25:9090/CommonManagementService/CommonManagementService" />
    </port>
  </service>
</definitions>